<span class="menu"> </span>
{% if content %}
  {{ content }}
{% endif %}
<div class="clearfix"></div>
<script>
  $("span.menu").click(function () {
    $(".top-menu ul").slideToggle("slow", function () {
    });
  });
</script>
