<div class="content-grid-info">
  {{ fields.field_image.content }}
  <div class="post-info">
    <h4>{{ fields.title.content }} {{ fields.changed.content }}
      / {{ fields.comment_count.content }} Comments</h4>
    <p> {{ fields.body.content }}</p>

    <a href="/node/{{ fields.nid.content|render|striptags|trim }}"><span></span>READ
      MORE</a>
  </div>
</div>
