{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul>
      {% for item in items %}

        {% if item.in_active_trail %}
          <li class="active">
          {{ link(item.title, item.url, {'class':''}) }}
        {% else %}
          <li>
          {{ link(item.title, item.url, {'class':''}) }}
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
