{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token }}">
    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">

        <title>Personal Blog a Blogging Category Flat Bootstarp Responsive
          Website Template | Home :: w3layouts</title>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
        <link href="css/style.css" rel='stylesheet' type='text/css'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
        />
        <script
          type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
          }, false);

          function hideURLbar() {
            window.scrollTo(0, 1);
          } </script>
        <!----webfonts---->
        <link
          href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700'
          rel='stylesheet' type='text/css'>
        <link
          href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic'
          rel='stylesheet' type='text/css'>
        <!----//webfonts---->
        <script
          src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--end slider -->
        <!--script-->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <!--/script-->
        <script type="text/javascript">
          jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
              event.preventDefault();
              $('html,body')
                .animate({scrollTop: $(this.hash).offset().top}, 900);
            });
          });
        </script>
        <!---->
        </head>

<body{{ attributes }}>
<div class="header">
  <div class="container">
    <div class="logo">
      {{ page.secondary_menu }}
    </div>
    <!---start-top-nav---->
    <div class="top-menu">
      <div class="search">
        {{ page.primary_menu }}
      </div>
      {{ page.header }}
    </div>
    <div class="clearfix"></div>
    <script>
      $("span.menu").click(function () {
        $(".top-menu ul").slideToggle("slow", function () {
        });
      });
    </script>
    <!---//End-top-nav---->
  </div>
</div>
{{ page }}
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
