<div class="content">
  <div class="container">
    <div class="content-grids">
      <div class="col-md-8 content-main">
        {{ page.sidebar_node }}
      </div>
      <div class="col-md-4 content-right">
        {{ page.sidebar_second }}

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{{ page.footer }}
