{% set img_art_style = {
  '#theme':      'image_style',
  '#style_name': 'image_style',
  '#uri':        node.field_image.entity.uri.value,
  '#alt':        node.field_image.alt,
} %}

<div class="content-grid-info">
  {{ img_art_style }}
  <div class="post-info">
    <h4><a
        href="/node/"{{ node.id }}>{{ node.title.value }}</a> {{ node.changed.value }}
      / 0 Comments</h4>
    <p>{{ content.body }}</p>

    <a href="/node/"{{ node.id }}><span></span>READ MORE</a>
  </div>
</div>
